<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="powerise" translate="label" sortOrder="10">
            <label>Powerise</label>
        </tab>
        <section id="powerise" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Powerise Integration</label>
            <tab>powerise</tab>
            <resource>Idea07_SetIntegration::Idea07</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Powerise Integration</label>
                <field id="api_key" translate="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Key</label>
                    <frontend_model>\Powerise\Integration\Block\Adminhtml\System\Config\ApiKey</frontend_model>
                    <comment>An API key is a unique identifier that allows access to protected resources of an API.</comment>
                </field>
                <field id="connect" translate="button_label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label/>
                    <button_label>Connect with Powerise</button_label>
                    <frontend_model>\Powerise\Integration\Block\Adminhtml\System\Config\Connect</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
